* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #333438;
    height: 100%;
    display: flex;
    flex-direction: column;
}



#menu {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 20px;
}

#menu a {
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
}
#menu a:hover {
    text-decoration: underline;
}

#al-icon {
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
}
#al-icon:hover {
    padding: 5px;
    background-color: #444746;
    border-radius: 50%;
}
#al-icon img {
    display: block;
    width: 24px;
}

#menu button {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-size: 13px;

    background-color: #a8c7fa;
    color: black;
}
#menu button:hover {
    cursor: pointer;
}

#container {
    height: 100vh;
    position: relative;

}
#conteudo {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
#conteudo img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}


#search {
    text-align: center;
}
#search input {
    width: 550px;
    height: 48px;
    border-radius: 30px;
    padding-left: 15px;

    background-color: #333438;
    border: 1px solid rgba(255, 255, 255, 0.349);
}

#buttons {
    text-align: center;
    margin: 35px 5px 0px 5px;
}
#buttons a {
    padding: 10px 15px;
    margin: 0px 4px;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;

    background-color: #444746;
}
#buttons a:hover {
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 10px 14px;
}


.footer-section-aside {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid black;
}

