* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
nav .menu {
    float: right;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
nav a, img {
    padding-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
nav a:hover {
    text-decoration: underline;
}
nav button {
    width: 90px;
    height: 40px;
    background-color: #a8c7fa;
    border: none;
    border-radius: 30px;
}
nav button:hover {
    background-color: #82aef5;
    cursor: pointer;
}

main {
    clear: both;
}
